/* Variables for light and dark modes */
:root {
    --background-color: #fafafa;
    --text-color: #333333;
    --header-footer-background: #e0e0e0;
    --header-footer-text: #333333;
    --link-hover-background: #d4d4d4;
    --section-background: #ffffff;
    --section-border: #cccccc;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --search-background: #ddd;
    --search-text: #333;
    --search-placeholder: #999;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #a3a3a3;
    --header-footer-background: #1f1f1f;
    --link-hover-background: #333;
    --section-background: #1f1f1f;
    --section-border: #333;
    --box-shadow: rgba(255, 255, 255, 0.1);
    --search-background: #333;
    --search-text: #fff;
    --search-placeholder: #ddd;
}

/* Basic styles */
body, h1, h2, h3, p {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body {
    background-color: var(--background-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Header and Footer */
header, footer {
    background-color: var(--header-footer-background);
    color: var(--header-footer-text);
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 4px 6px var(--box-shadow);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Navigation */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--header-footer-text);
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--link-hover-background);
    border-radius: 5px;
}

/* Main and Sections */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 60px auto 0;
}

section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: var(--section-background);
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px var(--box-shadow), 0 4px 6px -2px var(--box-shadow);
    border: 1px solid var(--section-border);
    transition: background-color 0.3s, border 0.3s;
}

/* Download Button Styling */
a[download] {
    display: inline-block;
    padding: 10px 20px;
    color: #3d6166;
    background-color: var(--header-footer-background);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a[download]:hover {
    background-color: var(--link-hover-background);
}

/* Custom download section styles */
#download-src {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--section-background);
    padding: 20px;
    border: 1px solid var(--section-border);
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--box-shadow);
    transition: background-color 0.3s, border 0.3s;
}

#download-src li a,
#discord li a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--text-color);
    background-color: var(--header-footer-background);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#download-src li a:hover,
#discord li a:hover {
    background-color: var(--link-hover-background);
}

/* Other button styles */
.button {
    display: inline-block;
    padding: 10px 20px;
    color: #3d6166;
    background-color: var(--header-footer-background);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--link-hover-background);
}

/* Dark mode toggle */
#dark-mode-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 20px;
    background-color: var(--header-footer-background);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#dark-mode-toggle:hover {
    background-color: var(--link-hover-background);
}
